In [5]:
import pandas as pd
df=pd.read_csv("C:/Users/alias/Downloads/Compressed/archive_6/dc-wikia-data.csv")

In [10]:
import pandas as pd

data = pd.read_csv("C:/Users/alias/Downloads/Compressed/archive_6/dc-wikia-data.csv")

sample_size = 0.1 # 10% of the population

sample = data.sample(frac=sample_size)

print(sample)

      page_id                         name  \
5504   127406          Gustave (New Earth)
2895   144499            Greet (New Earth)
5460   154305            Billy (New Earth)
6867    10025           Brains (New Earth)
3951    12014         Molecule (New Earth)
...       ...                          ...
4357   270549        Hunter II (New Earth)
6682   185843         Ephemera (New Earth)
3264   359279  Cleveden Forbes (New Earth)
5937   287180            Girth (New Earth)
1858    49590    Yang Kei-Ying (New Earth)

                                  urlslug               ID            ALIGN  \
5504          \/wiki\/Gustave_(New_Earth)              NaN   Bad Characters
2895            \/wiki\/Greet_(New_Earth)              NaN  Good Characters
5460            \/wiki\/Billy_(New_Earth)  Secret Identity  Good Characters
6867           \/wiki\/Brains_(New_Earth)              NaN  Good Characters
3951         \/wiki\/Molecule_(New_Earth)  Secret Identity  Good Characters
...                                   ...              ...              ...
4357        \/wiki\/Hunter_II_(New_Earth)              NaN   Bad Characters
6682         \/wiki\/Ephemera_(New_Earth)  Secret Identity   Bad Characters
3264  \/wiki\/Cleveden_Forbes_(New_Earth)  Public Identity  Good Characters
5937            \/wiki\/Girth_(New_Earth)  Secret Identity   Bad Characters
1858    \/wiki\/Yang_Kei-Ying_(New_Earth)  Public Identity              NaN

             EYE        HAIR                SEX  GSM                ALIVE  \
5504         NaN  Black Hair    Male Characters  NaN    Living Characters
2895         NaN         NaN    Male Characters  NaN    Living Characters
5460   Blue Eyes         NaN    Male Characters  NaN    Living Characters
6867         NaN         NaN    Male Characters  NaN    Living Characters
3951         NaN  Blond Hair    Male Characters  NaN  Deceased Characters
...          ...         ...                ...  ...                  ...
4357         NaN    Red Hair    Male Characters  NaN    Living Characters
6682  Brown Eyes  Black Hair  Female Characters  NaN    Living Characters
3264  Brown Eyes  Black Hair    Male Characters  NaN    Living Characters
5937         NaN         NaN    Male Characters  NaN    Living Characters
1858  Brown Eyes  Black Hair    Male Characters  NaN    Living Characters

      APPEARANCES FIRST APPEARANCE    YEAR
5504          2.0       1959, June  1959.0
2895          7.0       2006, June  2006.0
5460          2.0    1976, January  1976.0
6867          NaN      1967, April  1967.0
3951          4.0   2006, December  2006.0
...           ...              ...     ...
4357          3.0      2010, April  2010.0
6682          NaN             1996  1996.0
3264          6.0    1996, October  1996.0
5937          1.0      2000, March  2000.0
1858         13.0       2006, June  2006.0

[690 rows x 13 columns]

In [12]:
import pandas as pds
callTimes = {"Age": [20,25,31,37,43,44,52,58,64,68,70,77,82,86,91,96],
             "Call Duration":[17,25,10,15,5,7,15,25,30,35,10,15,12,14,20,12]};
dataFrame = pds.DataFrame(data=callTimes);

sample = dataFrame.sample(n=5)

print(sample)

    Age  Call Duration
10   70             10
6    52             15
15   96             12
11   77             15
9    68             35

In [19]:
import random

# target population
population = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# choose a random starting point
start = random.randint(0, len(population) - 1)

# choose every 10th element
sampling_interval = 10
sample = population[start::sampling_interval]

print(sample)

[19]

In [21]:
import pandas as pd
df=pd.read_csv("C:/Users/alias/Downloads/Compressed/archive_7/Employee_monthly_salary.csv")

In [22]:
import pandas as pd

data = pd.read_csv("C:/Users/alias/Downloads/Compressed/archive_7/Employee_monthly_salary.csv")

sample = data.sample(n=200)

print(sample)

      EmpID                    Name Gender Date_of_Birth  Age   Join_Date  \
30    22788           Herman Hester      M        9/9/82   37     4/11/19
82    23026        Dominique Lozano      F    28/05/1991   29      6/1/20
555   17732          Rhett Marshall      M    14/04/1981   39      3/4/17
1165  14584          Roderick Arias      M       12/8/93   26      2/7/15
1133  19470             Benito Owen      M    27/01/1989   31     6/11/17
...     ...                     ...    ...           ...  ...         ...
1622  22549          Marion Oconnor      F    22/08/1993   26  16/09/2019
1453  16094           Benjamin Hess      M      10/11/89   30  27/09/2018
45    22842             Chang Small      M        5/2/94   26  18/11/2019
1728  20956        Madeline Navarro      F    18/10/1996   23      8/8/19
517    3357  Christopher Mccullough      M    24/06/1982   38  16/10/2006

      Tenure_in_org_in_months   GROSS  Net_Pay  Deduction  \
30                          8  175533   140203      35330
82                          6  161500   153110       8390
555                        39  486983   269308     217675
1165                       60  145228   116311      28917
1133                       32  114628    78878      35750
...                       ...     ...      ...        ...
1622                        9  107952    94393      13559
1453                       21  215725   136705      79020
45                          7  123000   116727       6273
1728                       11   46150    41442       4708
517                       164  280266    65184     215082

      Deduction_percentage                                       Designation  \
30                   20.13               Business Operations Analyst.Senior.
82                    5.20                         Software Engineer.Senior.
555                  44.70                       Director..Technical Support
1165                 19.91                         Software Engineer.Senior.
1133                 31.19                             Solutions Architect..
...                    ...                                               ...
1622                 12.56                    Technical Solutions Engineer..
1453                 36.63  Software Development Engineer in Test.Senior II.
45                    5.10                             Release Engineer II..
1728                 10.20                Account Service Manager.Associate.
517                  76.74                      Manager..Platform Operations

                      Department
30        Web Division Sales Ops
82                  Media Portal
555                AmaTec - Mgmt
1165     Enterprise Applications
1133        Service Delivery APJ
...                          ...
1622       AmaTec - Americas TSE
1453        Security Engineering
45    Media Services Engineering
1728                   APJ - AMG
517          Platform Operations

[200 rows x 13 columns]

In [24]:
import math
x_bar = 62.1

s = 13.46

mu_null = 60

n = 30
test_statistic = (x_bar - mu_null) / (s / math.sqrt(n))

print(test_statistic)

0.854544851976857

In [26]:
from scipy.stats import t
alpha = 0.025
df = 29
t_value = t.ppf(alpha, df)
print(t_value)

-2.0452296421327034

In [27]:
from scipy.stats import t

n = 30

x_bar = 62.1

s = 13.46

mu_null = 60

df = n-1

test_statistic = (x_bar - mu_null) / (s / (n ** 0.5))

p_value = 2 * (1 - t.cdf(abs(test_statistic), df))

print(p_value)

0.3998077505479367