In [1]:
import pandas as pd
import matplotlib as pylot
import numpy as np
import math

In [9]:
df=pd.read_csv("C:/Users/alias/Desktop/Admission_Predict.csv.xls")

In [10]:
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [11]:
df['GRE Score']

0      337
1      324
2      316
3      322
4      314
      ...
395    324
396    325
397    330
398    312
399    333
Name: GRE Score, Length: 400, dtype: int64

In [13]:
from statistics import mean

In [14]:
df['GRE Score'].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0      337
1      324
2      316
3      322
4      314
      ...
395    324
396    325
397    330
398    312
399    333
Name: GRE Score, Length: 400, dtype: int64>

In [16]:
df['GRE Score'].min()

290

In [17]:
df['GRE Score'].mean()

316.8075

In [19]:
df['GRE Score'].median()

317.0

In [22]:
df['GRE Score'].max()

340