In [15]:
mix_list = ['Python',1,2,3,'Data',True]
mix_list[0:6:2]

['Python', 2, 'Data']

In [14]:
mix_list[0:6:2]

['Python', 2, 'Data']

In [2]:
kya karna hai

'2-'

In [9]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}

set.union(A,B)

{1, 2, 3, 4, 5, 6, 7, 8, 40, 42, 51, 54, 71, 87}

In [5]:
def intersection(A,B):
    C = [value for value in A if value in B]
    return C
print(intersection(A,B))

[3, 5, 6, 7]

In [6]:
print (A.difference(B))

{1, 2, 4, 71, 40, 87}

In [7]:
print (B.difference(A))

{8, 42, 51, 54}

In [8]:
c = A.symmetric_difference(B)
print(c)

{1, 2, 4, 8, 40, 42, 71, 51, 54, 87}

In [11]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}
print(set.union(A,B))

def intersection(A,B):
    C = [value for value in A if value in B]
    return C
print(intersection(A,B))

print (A.difference(B))

print (B.difference(A))

c = A.symmetric_difference(B)
print(c)

{1, 2, 3, 4, 5, 6, 7, 40, 71, 8, 42, 51, 54, 87}
[3, 5, 6, 7]
{1, 2, 4, 71, 40, 87}
{8, 42, 51, 54}
{1, 2, 4, 8, 40, 42, 71, 51, 54, 87}

In [12]:
num_list1 = [1,2,3,4]
num_list2 = [0,5,2,1]

print ("Original list 1 : " + str(num_list1))
print ("Original list 2 : " + str(num_list2))

res_list = []
for i in range(0, len(num_list1)):
    res_list.append(num_list1[i] * num_list2[i])

print ("Resultant list is : " + str(res_list))

Original list 1 : [1, 2, 3, 4]
Original list 2 : [0, 5, 2, 1]
Resultant list is : [0, 10, 6, 4]

In [1]:
num=int(input("Enter a number:"))
temp=num
rev=0
while(num>0):
    dig=num%10
    rev=rev*10+dig
    num=num//10
if(temp==rev):
    print("The number is palindrome!")
else:
    print("Not a palindrome!")

Enter a number:21
Not a palindrome!

In [3]:
#Write a program to display all the numbers which are divisible by 11 but not by 2 between 100 and 500

In [4]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [10]:
def getSum(n):
	
	strr = str(n)
	list_of_number = list(map(int, strr.strip()))
	return sum(list_of_number)

n = 12345
print(getSum(n))

15

In [13]:
def sumDigits(no):
    return 0 if no == 0 else int(no % 10) + sumDigits(int(no / 10))
n = 12345
print(sumDigits(n))

15

In [15]:
def getSum(n):
	
    sum = 0
    for digit in str(n):
    sum += int(digit)	
    return sum

n = 12345
print(getSum(n))

IndentationError: expected an indented block (1615148542.py, line 5)

In [17]:

def sumDigits(no):
	return 0 if no == 0 else int(no % 10) + sumDigits(int(no / 10))

# Driver code
n = 12345
print(sumDigits(n))

15

In [ ]:
# Python program to find the factorial of a number provided by the user.

# change the value for a different result
num = 1

# To take input from the user
num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

In [3]:
# Python program to find the factorial of a number provided by the user.

# change the value for a different result
num = 1

# To take input from the user
num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 4
The factorial of 4 is 24

In [4]:
h_age = int(input("Input a dog's age in human years: "))

if h_age < 0:
    print("Age must be positive number.")
    exit()
elif h_age <= 2:
    d_age = h_age * 10.5
else:
    d_age = 21 + (h_age - 2)*4

print("The dog's age in dog's years is", d_age)

Input a dog's age in human years: 15
The dog's age in dog's years is 73

In [1]:
a = float(input("Input first number: "))
b = float(input("Input second number: "))
c = float(input("Input third number: "))
if a > b:
    if a < c:
        median = a
    elif b > c:
        median = b
    else:
        median = c
else:
    if a > c:
        median = a
    elif b < c:
        median = b
    else:
        median = c

print("The median is", median)

Input first number: 343
Input second number: 6786
Input third number: 65766
The median is 6786.0

In [ ]:
text = input("Input a string: ")
text = text.strip()
if len(text) < 1:
    print("Input a valid text")
else:
    if all(text[i] in "0123456789" for i in range(len(text))):
        print("The string is an integer.")
    elif (text[0] in "+-") and \
         all(text[i] in "0123456789" for i in range(1,len(text))):
         print("The string is an integer.")
    else:
        print("The string is not an integer.")

In [ ]:
def sum(x, y):
    sum = x + y
    if sum in range(15, 20):
        return 20
    else:
        return sum

print(sum(10, 6))
print(sum(10, 2))
print(sum(10, 12))

In [ ]:
n = int(input("Enter the number of rows:")) 
m = int(input("Enter the number of columns:")) 
  
matrix = [] 

print("Enter values in matrix :") 

# For user input 
for i in range(n):
    data =[] 
    for j in range(m):
         data.append(int(input())) 
    matrix.append(data)
    print(matrix)
print(n+m)

Enter the number of rows:3
Enter the number of columns:4
Enter values in matrix :
12
12
12
12
[[12, 12, 12, 12]]
123
23
23
23
[[12, 12, 12, 12], [123, 23, 23, 23]]

##