In [1]:
a=[1,3,5,7]
b=[2,4,6,8,10]
ab=(a+b)
print(ab)
ab=ab[::-1]
print(ab)

[1, 3, 5, 7, 2, 4, 6, 8, 10]
[10, 8, 6, 4, 2, 7, 5, 3, 1]

In [4]:
list1=[1,2,3,4,5]
print(type(list1))
list2=(set(list1))
print(type(list2))

<class 'list'>
<class 'set'>

In [29]:
Y=[1,3,4,6,7,9,10, 4+7j, "Hello world", [2000,3000,1000]]

In [35]:
Y[-1][1]

3000

In [64]:
G=["2022-09-03"]
G[0][5:7]

'09'

In [62]:
G[0][5:7]

'09'

In [71]:
square_dictionary = {1:1, 2:4, 3:9}
square_dictionary.update({4:16})
square_dictionary

{1: 1, 2: 4, 3: 9, 4: 16}

In [75]:
str="Hello,please meet me at 4pm @coffeehouseccd or email me python@gmail.com"
print(str.count("me"))
print(str[-17:-4])

3
 python@gmail

In [ ]:
a. Add '7' to the given set
b. Remove '3' from a given set
c. Clear the set

In [87]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}
print(A.union(B))
print(A.intersection(B))
print (A.difference(B))
print (B.difference(A))
C=(A.symmetric_difference(B))
print(C)

{1, 2, 3, 4, 5, 6, 7, 40, 71, 8, 42, 51, 54, 87}
{3, 5, 6, 7}
{1, 2, 4, 71, 40, 87}
{8, 42, 51, 54}
{1, 2, 4, 8, 40, 42, 71, 51, 54, 87}

In [119]:
num_set = {1, 2, 3, 4, 5, 6}
num_set.add(7)
print(num_set)
num_set.remove(3)
print(num_set)
num_set.clear()
print(num_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}
set()

In [117]:
Replace the elements in the given tuple:

a. Replace '2' with '3'
b. Replace 'True' in first element with 'False'
Use the tuple below:

In [133]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)
mix_tuple = (['a', 1, True], 2, 'Science', -5)
a= list(mix_tuple)
a[1]=3
mix_tuple =tuple(a)
print(mix_tuple)

mix_tuple = (['a', 1, True], 2, 'Science', -5)
a= list(mix_tuple)
a[0][2]=False
mix_tuple =tuple(a)
print(mix_tuple)

(['a', 1, True], 3, 'Science', -5)
(['a', 1, False], 2, 'Science', -5)

In [142]:
num_tuple = (4, 4, 8)
mix_tuple = 'John', 5, -2
print(len(num_tuple))
print(num_tuple+mix_tuple)
print(mix_tuple*2)

3
(4, 4, 8, 'John', 5, -2)
('John', 5, -2, 'John', 5, -2)

In [156]:

num_list = [4, 5, 7, -2, 0, 1]
print(min(num_list))
print(max(num_list))
print(sorted(num_list))
print(num_list.copy())
print(num_list.remove(5))
print(num_list)

-2
7
[-2, 0, 1, 4, 5, 7]
[4, 5, 7, -2, 0, 1]
None
[4, 7, -2, 0, 1]

min(num_list)

In [152]:
num_list

[4, 7, -2, 0, 1]